<!--____________________________max_width_____________________________________-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>[% config.abbrev %] [% config.type %]</title>
  <link rel="stylesheet" type="text/css" 
        href="[% styleSkinsPath %]/[% cfg %]/[% cfg %].css">
  <script language="JavaScript" type="text/JavaScript"
          src="[% styleSkinsPath %]/[% cfg %]/[% cfg %].js"></script>
  <script language="JavaScript" type="text/JavaScript"
          src="[% styleCommonPath %]/branding.js"></script>
</head>
<body>
      <script language="JavaScript" type="text/javascript">
          insertTemplateOpening("[% contextUrl %]");
      </script>
