    <h3>Your password has been changed!</h3>

    <table class="intro" cellpadding="3" cellspacing="0">
    <tr><td align="left"><span class="regtext">You have successfully changed your account password.
    </span></td></tr></table>

