    <h3>Oops!</h3>

    <table class="intro" cellpadding="3" cellspacing="0">
    <tr><td align="left"><span class="regtext">There was a problem activating your account. The error was:</span></td></tr>

    <tr><td align="left"><span class="label text-error">[% errorMessage %]</span></td></tr>
    
    <!--<tr><td align="left"><span class="regtext">The most likely
    problem is that the username that you chose already exists.  Pick
    a different username and try submitting the form again.
    </span></td></tr>-->
    </table>

