    <h3>LTER Account Information</h3>
    <p>KNB accounts for all LTER affiliated scientists already exist
    for every scientist in the
    <a href="http://intranet.lternet.edu">LTER Personnel Directory</a>.
    So, if you are an LTER scientist, it is likely that you already 
    have an account.  Your username and password from the
    <a href="http://intranet.lternet.edu">LTER Personnel Directory</a> 
    can be used to log into the KNB.  
    </p>
    <p>
    The username for most LTER scientists will be your first inital 
    and lastname (e.g., someone named Jane Doe would have a username "jdoe").
    If you have forgotten your LTER password it can be 
    <a href="http://savanna.lternet.edu/sendpassword.php">mailed 
    to you</a>.
    </p>
    <p>
    If you are an LTER scientist and you can not find your name in the 
    <a href="http://intranet.lternet.edu">LTER Personnel Directory</a> 
    then please contact your site data manager to have an account created.
    </p>
