    <h3>Registration Succeeded!</h3>

    <table class="intro" cellpadding="3" cellspacing="0">
    <tr><td align="left"><span class="regtext">You have successfully created an account.
     A verification email was sent with instructions to activate your account. Please check your email and activate the account.
    </span></td></tr></table>

