    <h3>Activation Succeeded!</h3>

    <table class="intro" cellpadding="3" cellspacing="0">
    <tr><td align="left"><span class="regtext">You have successfully activate the account on the 
    <a href="http://knb.ecoinformatics.org">Knowledge 
    Network for Biocomplexity (KNB)</a>. It is ready to use. Thank you for your interest in the KNB!
    </span></td></tr></table>

