    <h3>Similar accounts exist</h3>

    <table class="intro" cellpadding="3" cellspacing="0">
    <tr><td align="left"><span class="regtext">Accounts already exist with information that is similar to
    the information you provided.</span><span class="label"> Please check 
    the list of similar accounts below to determine if you already 
    have an account.</span><span class="regtext">  If so, you can use 
    that account.  If not, then you can press "Continue" to create an
    account despite the similarities to existing accounts.</span></td></tr>
    
   <tr><td align="left"><span class="regtext">
    [% foundAccounts %]
    </span></td></tr></table>
    
    <p>&nbsp;</p>

