
    <h3>Forgot Your UserName?</h3>
    
    <table class="intro" cellpadding="3" cellspacing="0">   
       <tr><td align="left">
       <span class="regtext">
       Please enter the E-mail address you provided when you registered. You will receive an E-mail with your account name (uid). 
       Please check your incoming and junk E-mail folders for this E-mail.</td></tr>

       <!-- <tr><td align="left"><span class="label">Required fields are denoted by an asterisk (*).</td></tr>-->
       
    </table>
    <p>&nbsp;</p>
    
    <p class="label text-error">[% errorMessage %]<p>
    <p>

    <form name="loginForm" action="[% cgiurl %]" method="post">
      <input type="hidden" name="stage" value="searchnamesbyemail"/>
      <input type="hidden" name="cfg" value="[% cfg %]"/>
      <table hspace="20" border="0">
        
         
        
        <tr>
          <td align="right" class="label">
            E-mail:
          </td>
          <td align="right">
            <input name="mail" type="[% fieldType %]" 
                   value="[% allParams.mail %]"/>
          </td>
        </tr>
        
        <tr>
          <td>
          </td>
          <td align="left">
               <input name="action" type="submit" value="Submit"/>
          </td>
        </tr>
      </table>
    </form>

