  <div id="footer">
      <div id="footer_logos">
        <a href="http://www.msi.ucsb.edu/">
          <img src="[% styleSkinsPath %]/nceas/images/logo_msi.jpg"
            alt="MSI: Marine Science Institute" height="66" width="132"/></a>
        <a href="http://www.nsf.gov/">
          <img src="[% styleSkinsPath %]/nceas/images/logo_nsf.jpg"
            alt="NSF: National Science Foundation" height="66"
            width="70"/></a>
        <a href="http://www.ucsb.edu/">
          <img src="[% styleSkinsPath %]/nceas/images/logo_ucsb.jpg"
            alt="UCSB: University of California at Santa Barbara"
            height="66" width="132"/></a>
      </div><!-- footer_logos -->
      <div id="footer_contact">
        <span class="contact_name">
          National Center for Ecological
          Analysis and Synthesis
        </span>

        <span class="contact_address">
          735 State Street, Suite 300, Santa
          Barbara, CA 93101
        </span>
        <span class="copyright">
          Copyright &#169; 2007 The Regents of
          the University of California, All
          Rights Reserved
        </span>
        <span class="copyright">
          <a href="http://www.ucsb.edu/"
             title="Visit the UCSB website">
              UC Santa Barbara
          </a>
          , Santa Barbara CA 93106 &#149;
          (805) 893-8000
        </span>
        <span class="copyright">
          <a href="mailto:webmaster@nceas.ucsb.edu"
             title="E-mail the NCEAS webmaster">
             Contact
          </a>
          &#149;
          <a
            href="http://www.ucsb.edu/policies/terms-of-use.shtml">
            Terms of Use
          </a>
          &#149;
          <a href="http://www.nceas.ucsb.edu/accessibility"
             title="NCEAS is committed to the accessibility of its products for all users">
             Accessibility
          </a>
        </span>

        <span class="copyright">
          Last Modified July 10, 2007
        </span>
      </div>
    </div><!-- footer -->
  </div><!-- content_wrapper -->
  </div><!-- main wrapper -->
</body>
</html>
