  <div id="footer">
      <div id="footer_logos">
      </div><!-- footer_logos -->
      <div id="footer_contact">
      </div>
    </div><!-- footer -->
  </div><!-- content_wrapper -->
  </div><!-- main wrapper -->
</body>
</html>
