## override values.yaml with values to use for running on local machine (eg within Rancher Desktop)
##
## example:
##    helm install metacatrd ./helm -f ./helm/values-dev-local.yaml
##
debug: &debug true

global:
  metacatUiThemeName: "knb"
  metacatUiWebRoot: "/"
  metacatExternalBaseUrl: "http://localhost:80/"
  d1ClientCnUrl: "https://cn-sandbox.test.dataone.org/cn"
  storageClass: local-path
  ephemeralVolumeStorageClass: local-path

metacat:
  auth.administrators: http://orcid.org/0000-0002-1472-913X;http://orcid.org/0000-0002-1209-5268

image:
  debug: *debug
  pullPolicy: IfNotPresent

persistence:
  existingClaim: &pvcname metacatrd-metacat-0

database:
  serviceName: mcdbrd-cnpg-rw

dataone-indexer:
  persistence:
    ## MUST MATCH name of PVC created by metacat chart. NOTE: uses deployment name
    claimName: *pvcname

  autoscaling:
    minReplicas: 1
    targetCPUUtilizationPercentage: 80

  solr:
    replicaCount: 1
    collectionReplicas: 1
    extraVolumes:
      - name: solr-config
        configMap:
          ## Use your own release name instead of metacatbrooke
          name: metacatrd-indexer-configfiles
          defaultMode: 0777
    zookeeper:
      replicaCount: 1

# probes will kill remote debugger
#livenessProbe:
#  enabled: false
#readinessProbe:
#  enabled: false
