/*
 *  import eml css:
 */

@import url(@style-common-path@/@eml-css@);

/**
 *  set the correct iframe sizes to accomodate the 
 *  header, footer, left and right areas.
 *  NOTE: these styles apply only to each 
 *  container frame, *NOT* to the document within it!
 */  
.iframeheaderclass {
  height:   155px; 
  width:    100%;
  border:   0px;
  margin:   0px;
  margin-left: 10px;
}

.iframesearchboxclass { /* not used */ }
.iframeleftcolclass  { /* not used */ }
.iframerightcolclass { /* not used */ }
.iframefooterclass   { /* not used */ }

/**
 *  set the size and alignment etc of the top-level layout table
 */  
.templatetableclass {
  width:   100%; 
  border:   0px;
  padding:  0px;
  margin:   0px;
}


/**
 *  set the style of the main content area and its contents
 */ 
.templatecontentareaclass {
  border:   0px;
  padding:  0px;
  margin:   0px;
}


/**
 *  set the correct <td> sizes to accomodate the 
 *  header, footer, left and right iframes.
 *  NOTE: these styles apply only to each 
 *  container frame, *NOT* to the document in
 *  the iframe within it!
 */  
.templateheaderrowclass {
  height:   155px; 
/*
  no width allowed - uses same width as table class
*/
  border:   0px;
  padding:  0px;
  margin:   0px;
}


.templateleftcolclass {
  height:   100%; 
  width:    0px;
  border:   0px;
  padding:  0px;
  margin:   0px;
}


.templaterightcolclass {
  height:   100%; 
  width:    0px;
  border:   0px;
  padding:  0px;
  margin:   0px;
}


.templatefooterrowclass {
  height:   0px; 
/*
  no width allowed - uses same width as table class
*/
  border:   0px;
  padding:  0px;
  margin:   0px;
}


/**
 *  these override styles imported from eml css 
 */


 
 body {
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    background-color: #ffffff;
    /*background-image: url(http://www.nceas.ucsb.edu/gifs/toolbar/bg-gradient.gif);*/
    font-weight: normal;
    font-size: 12px; 
    font-family: Verdana,Arial,Helvetica,sans-serif; 
}

.sectionnames{
    font-weight: bold;
    font-size: 16px;
    color: #0040A1;
}

.title {
    font-family: Georgia, Times New Roman, Times, serif;
    color:      black;
    background: white;
    /*background-image: url(http://www.nceas.ucsb.edu/gifs/toolbar/bg-gradient.gif);*/
    font-size: 24px; 
    font-weight: bold;
}

.highlight  {
    color: #006699;
    background-color: #FFFFFF; 
    font-style: italic;
    font-size: 1em; 
    padding-left: 10px;
}

.tablehead {
    color: #0040A1;
    background: #FFFFFF;
    text-align: left;
    font-size: 14px; 
    font-weight: bold;
    border-top: solid #ffffff 15px;
    border-bottom: solid #dddddd 1px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

th.tablehead {

    text-align: center;
    border-bottom: solid #006666 1px;
    margin: 0px;
    padding: 0px;
    height:  21px;
}

.tablehead_lcorner {
    background-position: right top;
    background-repeat: no-repeat;
    padding: 0px;
    margin:  0px;
    width:   10px;
    height:  21px;
}    
    
.tablehead_rcorner {
    background-position: left top;
    background-repeat: no-repeat;
    padding: 0px;
    margin:  0px;
    width:   10px;
    height:  21px;
}    

a {
    color: #0040A1;
    font-weight: bold;
    font-size: 12px; 
    text-decoration: underline; }
    
a:hover {
    color: #ff9933;
    text-decoration: underline; }

/**
 *  these are used only in the metacat pages
 */

p.emphasis {

  font-size: 18px;
  color: #dd7744; 
  font-weight: bold;
  font-style:  normal;
}

.searchresultsdivider {
    background-color: #dddddd;   
}

/**
 *  these are used only in the registry skins
 */
p.searchbox {
    color: #0040A1;
    font-weight: bold;
    font-size: 12px; 
    text-decoration: none; 
}

.intro {
        width:   760;
        margin-left: 15;
}

br {
    margin: 0px;
    padding: 0px;
}

textarea {
   width: 80%;
}

.required {
    font-weight: bold;
    color: #b00000;
}

.label {
    font-weight: bold;
}


.emphasis {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
}

.boldlink {
	font-weight: bold;
	font-size: 12px;
}

.colorbold {
	font-weight: bold;
	color: #0040A1;
	font-size: 12px;
}

.redbold {
	font-weight: bold;
	color: #b00000;
	font-size: 12px;
}

.greenbold {
	font-weight: bold;
	color: #008000;
	font-size: 12px;
}

.smalltext {
	font-weight: bold;
	font-size: 10px;
	vertical-align: super;
}

.largetext {
	font-weight: bold;
	font-size: 16px;
} 

.italicized {
	font-style: italic;
	font-size: 12px;
}

.regtext {
	font-weight: normal;
	font-size: 12px;
}
.sectbody {
	background: #e8eef7;
	font-size: 12px;
        font-weight: bold;}

.sectheader {
	background: #B7C9E3;
	font-size: 12px;
        font-weight: bold;}
    
.tables {
        width:   760px;
        margin-left:      20;
        border-top: solid black 1px;
        border-left: solid black 1px;
        border-right: solid black 1px;      
      }
	
.hide {
      display:none;
  }
  
.bordertop {
        border-top: solid black 1px;
      }

.borderbottom {
        border-bottom: solid black 1px;
      }
      
.topbottom {
	border-top: 1px solid black;
	border-bottom: 1px solid black; 
	}	

.longwidth {
	width: 80%;
	}

.shortwidth {
	width: 35%;
	}
        
.rightCol {
       width:  24%;
       text-align: right;
    }
	
/**
 *  This is add to overload the p+p function defined in eml.css.
 *  Refer to bug# 1306 for further details. 
 */

p + p {
    text-indent: 0em;

}
