<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"   
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  
	<!-- CONTENT SECTION
    ======================================================================= -->
	<article id="RegistryEntryReview">
		<div class="container">
		
			<div class="row-fluid">
				<h2>Review your entry</h2>
				<p class="lead">
					Please review the information that you've entered. To make changes, 
					<input type="button" class="btn dataWrongButton" value="Go back to editing" />.
				</p>
			</div>
			
			<div class="row-fluid">

				<a name="BasicInformation"></a>
				<h4>Basic Information</h4>
				<table class="table table-bordered table-striped table-condensed">
					<tr><td>Title</td><td><strong>[%- title -%]</strong></td></tr>

					[% IF cfg == 'nceas' %]
						[% FOREACH group = wg %]
							<tr><td>NCEAS Project</td><td>[%- group -%]</td></tr>
						[% END %]

					[% ELSE %]
						[% IF cfg == 'esa' %]
							<tr><td>Organization Name</td><td>[%- site -%]</td></tr>
							
						[% ELSE %]
							<tr><td>[%- config.site | ucfirst -%] Name</td><td>[%- site -%]</td></tr>
							
						[% END %]
					[% END %]
					<tr><td>Award Number</td><td>[%- funding -%]</td></tr>
				</table>
				
				<a name="DataSetOriginator"></a>
				<h4>People and Organizations</h4>
				[% cnt = 0 %]
				<table class="table table-bordered table-striped table-condensed">
				[% WHILE cnt <= partyCount %]
					[% SET partyId         = "partyId${cnt}" %]
					[% SET partyFirstName  = "partyFirstName${cnt}" %]
					[% SET partyLastName   = "partyLastName${cnt}" %]
					[% SET partyRole       = "partyRole${cnt}" %]
					[% SET partyPositionName = "partyPositionName${cnt}" %]
					[% SET partyOrgName    = "partyOrgName${cnt}" %]
					[% SET partyEmail      = "partyEmail${cnt}" %]
					[% SET partyURL        = "partyURL${cnt}" %]
					[% SET partyPhone      = "partyPhone${cnt}" %]
					[% SET partyFAX        = "partyFAX${cnt}" %]
					[% SET partyDelivery   = "partyDelivery${cnt}" %]
					[% SET partyCity       = "partyCity${cnt}" %]
					[% SET partyState      = "partyState${cnt}" %]
					[% SET partyStateOther = "partyStateOthe${cnt}" %] 
					[% SET partyZIP        = "partyZIP${cnt}" %]
					[% SET partyCountry    = "partyCountry${cnt}" %]
					[% SET roles = {
						principalInvestigator              => 'Principal Investigator',
						coPrincipalInvestigator            => 'Co-Principal Investigator',
						collaboratingPrincipalInvestigator => 'Collaborating-Principal Investigator',
						creator                            => 'Creator (Author/Owner/Originator)',
						contact                            => 'Contact',
						metadataProvider                   => 'Metadata Provider',
						custodianSteward                   => 'Custodian/Steward',
						publisher                          => 'Publisher',
						user                               => 'User'} %]
	
					[% IF $partyRole != '' %]
						
							[% IF $partyFirstName != '' %]
							<tr><td>First Name</td><td><strong>[%- $partyFirstName -%]<strong></td></tr>
							[% END %]
							
							[% IF $partyLastName != '' %]
							<tr><td>Last Name</td><td><strong>[%- $partyLastName -%]</strong></td></tr>
							[% END %]
							
							[% IF $partyOrgName != '' %]
							<tr><td>Organization Name</td><td>[%- $partyOrgName -%]</td></tr>
							[% END %]
							
							[% IF $partyPositionName != '' %]
							<tr><td>Position Name</td><td>[%- $partyPositionName -%]</td></tr>
							[% END %]
							
							[% IF $partyRole != '' %]
						  [%- pRole = $partyRole -%]
							<tr><td>Role</td><td>[%- roles.$pRole -%]</td></tr>
							[% END %]
							
							[% IF $partyEmail != '' %]
							<tr><td>Email</td><td>[%- $partyEmail -%]</td></tr>
							[% END %]
							
							[% IF $partyURL != '' %]
							<tr><td>Online Link</td><td>[%- $partyURL -%]</td></tr>
							[% END %]
							
							[% IF $partyPhone != '' %]
							<tr><td>Phone</td><td>[%- $partyPhone -%]</td></tr>
							[% END %]
							
							[% IF $partyFAX != '' %]
							<tr><td>FAX</td><td>[%- $partyFAX -%]</td></tr>
							[% END %]
							
							[% IF $partyDelivery != '' %]
							<tr><td>Address</td><td>[%- $partyDelivery -%]</td></tr>
							[% END %]
							
							[% IF $partyCity != '' %]
							<tr><td>City</td><td>[%- $partyCity -%]</td></tr>
							[% END %]
							
							[% IF $partyState != '' %]
							<tr><td>State</td><td>[%- $partyState -%]</td></tr>
							[% END %]
							
							[% IF $partyStateOther != '' %]
							<tr><td>Other Province</td><td>[%- $partyStateOther -%]</td></tr>
							[% END %]
							
							[% IF $partyZIP != '' %]
							<tr><td>Postal Code</td><td>[%- $partyZIP -%]</td></tr>
							[% END %]
							
							[% IF $partyCountry != '' %]
							<tr><td>Country</td><td>[%- $partyCountry -%]</td></tr>
							[% END %]
							<tr><td colspan="2">&nbsp;</td></tr>
			    [% END %]
					[% cnt = cnt + 1 %]
				[% END %]
				</table>

				<a name="DataSetAbstract"></a>
				<h4>Data Set Abstract</h4>
				<p>[%- abstract -%]</p>
				[% IF modules.keyword == 'true' %]
					<a name="KeywordInformation"></a>
					<h4>Keyword Information</h4> 
      	
					[% numKey = 0 %]
					[% IF keyCount > 1 %]
						[% numKey = keyCount %]
					[% END %]
      	
					<table class="table table-bordered table-striped teble-condensed">
						<thead>
							<tr>
								<th>Keyword</th>
							  <th>Keyword Type</th>
							  <th>Keyword Thesaurus</th>
							</tr>						
						</thead>
						<tbody>
							[% cnt = 1 %]
							[% WHILE cnt <= numKey %]
								[% SET key = "keyword${cnt}" %]
								[% SET keyType = "kwType${cnt}" %]
								[% SET keyTh = "kwTh${cnt}" %]
								<tr> 
								 <td>[%- $key -%]</td>
								 <td>[%- $keyType -%]</td>
								 <td>[%- $keyTh -%]</td>
								</tr>
								[% cnt = cnt + 1 %]
							[% END %]						
						</tbody>
					</table>
				[% END %]
      	
				[% IF modules.temporal == 'true' %]
					<a name="TemporalCoverageOfData"></a>
					<h4>Temporal Coverage of Data</h4> 
					<table class="table table-bordered table-striped teble-condensed">
						<tr>
							<td>Start Date:</td>
							<td>[%beginningYear%][%IF beginningMonth != ''%]-[% END%][%beginningMonth%][%IF beginningDay != ''%]-[% END%][%beginningDay%]</td>
						</tr>
						<tr>
							<td>Stop Date:</td>
							<td>[%endingYear%][%IF endingMonth != ''%]-[% END%][%endingMonth%][%IF endingDay != ''%]-[% END%][%endingDay%]</td>
						</tr>
					</table>				
				[% END %]
      	
				[% IF modules.spatial == 'true' %]
					<a name="SpatialCoverageOfData"></a>
					<h4>Spatial Coverage of Data</h4> 
					
					
					<table class="table table-bordered table-striped teble-condensed">
					    <tr>
					      <td colspan="4">Geographic Description: [%- geogdesc -%]</td>
					    </tr>
					    <tr> 
					      <td colspan="4">First lat/long pair:</td>
					    </tr>
					    <tr> 
					      <td>Latitude</td>
					      <td>North/South</td>
					      <td>Longitude</td>
					      <td>West/East</td>
					    </tr>
					    <tr> 
					      <td>[%latDeg1%] [%latMin1%]' [%latSec1%]&quot;</td>
					      <td>[%hemisphLat1%]</td>
					      <td>[%longDeg1%] [%longMin1%]' [%longSec1%]&quot;</td>
					      <td>[%hemisphLong1%]</td>
					    </tr>
					    [% IF latDeg2 %]
					    	<tr> 
					    	  <td colspan="4">The second lat/long pair:</td>
					    	</tr>
					    	<tr> 
					    	  <td>Latitude</td>
					    	  <td>North/South</td>
					    	  <td>Longitude</td>
					    	  <td>West/East</td>
					    	</tr>
					    	<tr>
					    	  <td>[%latDeg2%] [%latMin2%]' [%latSec2%]&quot;</td>
					    	  <td>[%hemisphLat2%]</td>
					    	  <td>[%longDeg2%] [%longMin2%]' [%longSec2%]&quot;</td>
					    	  <td>[%hemisphLong2%]</td>
					    	</tr>
					    [% END %]
					 </table>
				[% END %]
      	
				[% IF modules.taxonomic == 'true' %]
				    [% numTaxa = 0 %]
				    [% IF taxaCount > 0 %]
				        [% numTaxa = taxaCount %]
				    [% END %]
				    <a name="Taxonomic Coverage"></a>
				    <h4>Taxonomic Coverage of Data</h4>
				    [% cnt = 1 %]
						<table class="table table-bordered table-striped teble-condensed">
				    	[% WHILE cnt <= numTaxa %]
				    		[% SET trn = "taxonRankName${cnt}" %]
				    		[% SET trv = "taxonRankValue${cnt}" %]
								<tr><td>Taxon:</td><td>[%- $trn -%]</td><td>[% $trv %]</td></tr>
				    		[% cnt = cnt + 1 %]
				    	[% END %]
						</table>
						[% IF taxaAuth %]
				    	<p>Taxonomic Reference: [%- taxaAuth -%]</p>
						[% END %]
				[% END %]
      	
				[% IF modules.method == 'true' %]
					<a name="Methods"></a>
					<h4>Data Collection Methods</h4>
					<h5>Method Title: [%- methodTitle -%]</h5>
					[% FOREACH para = methodPara %]
					    <p>[%- para -%]</p>
					[% END %]
					<h5>Extent of Study Description:</h5>
					<p>[%- studyExtentDescription -%]</p>
					<h5>Sampling Description:</h5>
					<p>[%- samplingDescription -%]</p>
				[% END %]
      	
				[% IF modules.upload == 'true' && upCount %]
					 <a name="Upload Data"></a>
					  <h4>Upload Data</h4>
				    
				    [% cnt = 0 %]
						<table class="table table-bordered table-striped table-condensed">
				    	[% WHILE cnt < upCount %]
				    	    [% SET fileName = "uploadname_${cnt}" %]
				    	    [% SET filePerm = "uploadperm_${cnt}" %]
				    	    [% cnt = cnt + 1 %]
				    		<tr>
									<td>File #[% cnt %]:</td>
									<td>[% $fileName %]</td>
									<td>[% $filePerm %] access</td>
									<td>
										[% dCount = 0 %]
										[% IF delCount > 0 %]
											 [% dCount = delCount %]
										[% END %]
										[% cntd = 0 %]
										[% WHILE cntd < dCount %]
												[% SET delfile = "deletefile_${cntd}" %]
												[% IF $delfile == fileName %]
													to be removed
												[% END %]
												[% cntd = cntd + 1 %]
				  					[% END %]   
									</td>
								</tr>
				    	[% END %]						
						</table>
				[% END %]
      	
				<a name="DistributionIinformation"></a>
				<h4>Distribution Information</h4> 
				
				<a name="Site-specificCode"></a>
				[% IF identifierCount > 0 %]
					<h5>Data Set Identifiers:</h5>
					
					[% numIdentifier = 0 %]
					[% numIdentifier = identifierCount %]
					[% cnt = 1 %]
					<table class="table table-bordered table-striped table-condensed">
						[% WHILE cnt <= numIdentifier %]
							[% SET id = "identifierValue${cnt}" %]
							<tr><td>Identifier:</td><td>[% $id %]</td></tr>
							[% cnt = cnt + 1 %]
						[% END %]						
					</table>
				[% END %]
				
				</p>
				
				<p>Data Medium: [%dataMedium%]</p>
				<p>Other Data Medium: [%- dataMediumOther -%]</p>
				
				<p>Usage Constraints: [%- useConstraints -%]</p>
				<p>Other Usage Constraints: [%- useConstraintsOther -%]</p>
				<p>URL: [%url%]</p>
				<p>Additional Information: [%addComments%]</p>
				<p>
				  All data and metadata are released under either the 
				  <a href="http://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC-0 Public Domain Dedication</a>
				  or the 
				  <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">
				    Creative Commons Attribution 4.0 International License
				  </a>. 
				  As a repository dedicated to helping researchers increase collaboration 
				  and the pace of science, this repository needs certain rights to copy, store, 
				  and redistribute data. By uploading data, metadata, and any other content to 
				  this repository, you warrant that you own any rights to the content and are 
				  authorized to do so under copyright or any other right that might pertain 
				  to the content. 
				  <a href="http://www.bitlaw.com/copyright/database.html" target="_blank">
				    Data and facts themselves are not covered under copyright
				  </a> 
				  in the US and most countries, since facts in and of themselves are not 
				  eligible for copyright. That said, some associated metadata and some 
				  particular compilations of data could potentially be covered by copyright 
				  in some jurisdictions. By uploading content, you grant this repository and 
				  UCSB all rights needed to copy, store, redistribute, and share data, metadata, 
				  and any other content. By marking content as publicly available, you grant this 
				  repository, UCSB, and any other users the right to copy the content and redistribute 
				  it to the public without restriction under the terms of the 
				  <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">
				    Creative Commons Attribution 4.0 International License
				  </a> 
				  or the 
				  <a href="http://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC-0 Public Domain Dedication</a>, 
				  depending on which you choose at the time of upload.
				</p>
				<form id="confirmForm" action="[% cgiPrefix %]/register-dataset.cgi" method="post">
				  <input type="hidden" name="cfg" value="[% cfg %]" />
				  <input type="hidden" name="docid" value="[% docid %]" />
				  <input type="hidden" name="stage" value="confirmed" />
				  <input type="hidden" name="providerGivenName" value="[%providerGivenName%]" />
				  <input type="hidden" name="providerSurName" value="[%providerSurName%]"/>
				  <input type="hidden" name="site" value="[%site%]"/>
				  [% IF cfg == 'nceas' %]
				      [% FOREACH group = wg %]
				          <input type="hidden" name="wg" value="[%group%]" />
				      [% END %]
				  [% END %]
				
				  [% cnt = 1 %]
				  [% WHILE cnt <= numIdentifier %]
				      [% SET id = "identifierValue${cnt}" %]
				      <input type="hidden" name="[% id %]" value="[% $id %]" />
				      <input type="hidden" name="identifier" value="[% $id %]" />
				      [% cnt = cnt + 1 %]
				  [% END %]  
				  <input type="hidden" name="identifierCount" value="[% identifierCount %]" />
				
				  <input type="hidden" name="funding" value="[%funding%]" /> 
				  <input type="hidden" name="title" value="[%title%]" />
				  <input type="hidden" name="useOrigAddress" value="[%useOrigAddress%]" />
				  <input type="hidden" name="partyCount" value="[% partyCount %]" />
				
				
				  [% cnt = 0 %]
				  [% WHILE cnt <= partyCount %]
						[% SET partyId         = "partyId${cnt}" %]
						[% SET partyFirstName  = "partyFirstName${cnt}" %]
						[% SET partyLastName   = "partyLastName${cnt}" %]
						[% SET partyRole       = "partyRole${cnt}" %]
						[% SET partyOrgName    = "partyOrgName${cnt}" %]
						[% SET partyPositionName = "partyPositionName${cnt}" %]
						[% SET partyEmail      = "partyEmail${cnt}" %]
						[% SET partyURL        = "partyURL${cnt}" %]
						[% SET partyPhone      = "partyPhone${cnt}" %]
						[% SET partyFAX        = "partyFAX${cnt}" %]
						[% SET partyDelivery   = "partyDelivery${cnt}" %]
						[% SET partyCity       = "partyCity${cnt}" %]
						[% SET partyState      = "partyState${cnt}" %]
						[% SET partyStateOther = "partyStateOther${cnt}" %] 
						[% SET partyZIP        = "partyZIP${cnt}" %]
						[% SET partyCountry    = "partyCountry${cnt}" %]
						
						<input type="hidden" name="[% partyId         %]" value="[% $partyId         %]" /> 	
						<input type="hidden" name="[% partyFirstName  %]" value="[% $partyFirstName  %]" /> 	
						<input type="hidden" name="[% partyLastName  	%]" value="[% $partyLastName   %]" />	
						<input type="hidden" name="[% partyRole     	%]" value="[% $partyRole       %]" />	
						<input type="hidden" name="[% partyOrgName   	%]" value="[% $partyOrgName    %]" />	
						<input type="hidden" name="[% partyPositionName %]" value="[% $partyPositionName %]" />	
						<input type="hidden" name="[% partyEmail     	%]" value="[% $partyEmail      %]" />	
						<input type="hidden" name="[% partyURL      	%]" value="[% $partyURL        %]" />	
						<input type="hidden" name="[% partyPhone     	%]" value="[% $partyPhone      %]" />	
						<input type="hidden" name="[% partyFAX       	%]" value="[% $partyFAX        %]" />	
						<input type="hidden" name="[% partyDelivery  	%]" value="[% $partyDelivery   %]" />	
						<input type="hidden" name="[% partyCity      	%]" value="[% $partyCity       %]" />	
						<input type="hidden" name="[% partyState     	%]" value="[% $partyState      %]" />	
						<input type="hidden" name="[% partyStateOther	%]" value="[% $partyStateOther %]" />	
						<input type="hidden" name="[% partyZIP       	%]" value="[% $partyZIP        %]" />	
						<input type="hidden" name="[% partyCountry   	%]" value="[% $partyCountry    %]" />			
				
						<input type="hidden" name="partyFirstName" value="[% $partyFirstName %]" /> 	
						<input type="hidden" name="partyLastName" value="[% $partyLastName %]" />	
						<input type="hidden" name="partyRole" value="[% $partyRole %]" />	
						<input type="hidden" name="partyOrgName" value="[% $partyOrgName %]" />	
						<input type="hidden" name="partyPositionName" value="[% $partyPositionName %]" />	
						<input type="hidden" name="partyEmail" value="[% $partyEmail %]" />	
						<input type="hidden" name="partyURL" value="[% $partyURL %]" />	
						<input type="hidden" name="partyPhone" value="[% $partyPhone %]" />	
						<input type="hidden" name="partyFAX" value="[% $partyFAX %]" />	
						<input type="hidden" name="partyDelivery" value="[% $partyDelivery %]" />	
						<input type="hidden" name="partyCity" value="[% $partyCity %]" />	
						<input type="hidden" name="partyState" value="[% $partyState %]" />	
						<input type="hidden" name="partyStateOther" value="[% $partyStateOther %]" />	
						<input type="hidden" name="partyZIP" value="[% $partyZIP %]" />	
						<input type="hidden" name="partyCountry" value="[% $partyCountry %]" />			
				
				  	[% cnt = cnt + 1 %]
				  [% END %]
					
				  <input type="hidden" name="abstract" value="[%abstract%]" />
				  <input type="hidden" name="keyCount" value="[%keyCount%]" />
				  [% cnt = 1 %]
				  [% WHILE cnt <= numKey %]
				      [% SET kyd = "keyword${cnt}" %]
				      [% SET keyType = "kwType${cnt}" %]
				      [% SET keyTh = "kwTh${cnt}" %]
				      <input type="hidden" name="[% kyd %]" value="[% $kyd %]" />
				      <input type="hidden" name="[% keyType %]" value="[% $keyType %]" />
				      <input type="hidden" name="[% keyTh %]" value="[% $keyTh %]" />
				      [% cnt = cnt + 1 %]
				  [% END %]
				  <input type="hidden" name="addComments" value="[%addComments%]" />
				  <input type="hidden" name="useConstraints" value="[%useConstraints%]" />
				  <input type="hidden" name="useConstraintsOther" value="[%useConstraintsOther%]" />
				  <input type="hidden" name="url" value="[%url%]" />
				  <input type="hidden" name="dataMedium" value="[%dataMedium%]" />
				  <input type="hidden" name="dataMediumOther" value="[%dataMediumOther%]" />
				  <input type="hidden" name="beginningYear" value="[%beginningYear%]" />
				  <input type="hidden" name="beginningMonth" value="[%beginningMonth%]" />
				  <input type="hidden" name="beginningDay" value="[%beginningDay%]" />
				  <input type="hidden" name="endingYear" value="[%endingYear%]" />
				  <input type="hidden" name="endingMonth" value="[%endingMonth%]" />
				  <input type="hidden" name="endingDay" value="[%endingDay%]" />
				  <input type="hidden" name="geogdesc" value="[%geogdesc%]" />
				  <input type="hidden" name="useSiteCoord" value="[%useSiteCoord%]" />
				  <input type="hidden" name="latDeg1" value="[% latDeg1 %]" />
				  <input type="hidden" name="latMin1" value="[%latMin1%]" />
				  <input type="hidden" name="latSec1" value="[%latSec1%]" />
				  <input type="hidden" name="hemisphLat1" value="[%hemisphLat1%]" />	
				  <input type="hidden" name="longDeg1" value="[% longDeg1 %]" />
				  <input type="hidden" name="longMin1" value="[%longMin1%]" />
				  <input type="hidden" name="longSec1" value="[%longSec1%]" />
				  <input type="hidden" name="hemisphLong1" value="[%hemisphLong1%]" />
				  <input type="hidden" name="latDeg2" value="[%latDeg2%]" />
				  <input type="hidden" name="latMin2" value="[%latMin2%]" />
				  <input type="hidden" name="latSec2" value="[%latSec2%]" />
				  <input type="hidden" name="hemisphLat2" value="[%hemisphLat2%]" />	
				  <input type="hidden" name="longDeg2" value="[%longDeg2%]" />
				  <input type="hidden" name="longMin2" value="[%longMin2%]" />
				  <input type="hidden" name="longSec2" value="[%longSec2%]" />
				  <input type="hidden" name="hemisphLong2" value="[%hemisphLong2%]" />
				  <input type="hidden" name="taxaCount" value="[%taxaCount%]" />
				  <input type="hidden" name="userLoggedIn" value="[%userLoggedIn%]" />
				  [% cnt = 1 %]
				  [% WHILE cnt <= numTaxa %]
				      [% SET trn = "taxonRankName${cnt}" %]
				      [% SET trv = "taxonRankValue${cnt}" %]
				      <input type="hidden" name="[% trn %]" value="[% $trn %]" />
				      <input type="hidden" name="[% trv %]" value="[% $trv %]" />
				      [% cnt = cnt + 1 %]
				  [% END %]
				  <input type="hidden" name="taxaAuth" value="[%taxaAuth%]" />
				
				  <input type="hidden" name="methodTitle" value="[%methodTitle%]" />
				  [% FOREACH para = methodPara %]
				      <input type="hidden" name="methodPara" value="[%para%]" />
				  [% END %]
				  <input type="hidden" name="studyExtentDescription" value="[%studyExtentDescription%]" />
				  <input type="hidden" name="samplingDescription" value="[%samplingDescription%]" />
				  <input type="hidden" name="upCount" value="[%upCount%]" />
				  <input type="hidden" name="delCount" value="[% delCount %]" />
				  [% dCount = 0 %]
				  [% IF delCount > 0 %]
				     [% dCount = delCount %]
				  [% END %]
				  [% cnt = 0 %]
				  [% WHILE cnt < dCount %]
				 		  [% SET delfile = "deletefile_${cnt}" %]
				      		<input type="hidden" name="[% delfile %]" value="[% $delfile %]" />
							<input type="hidden" name="deletefile" value="[% $delfile %]" />
							[% cnt = cnt + 1 %]
					[% END %]		
				
				  [% fCount = 0 %]
				  [% IF upCount > 0 %]
				      [% fCount = upCount %]
				  [% END %]
				
				  [% cnt = 0 %]
				  [% WHILE cnt < fCount %]
				      [% SET fileSum = "upload_${cnt}" %]
				      [% SET fileName = "uploadname_${cnt}" %]
				      [% SET fileType = "uploadtype_${cnt}" %] 
				      [% SET filePerm = "uploadperm_${cnt}" %]
				
				      [% IF fileSum %]
				        <input type="hidden" name="[% fileSum %]" value="[% $fileSum %]" />
				        <input type="hidden" name="[% fileName %]" value="[% $fileName %]" />
				        <input type="hidden" name="[% fileType %]" value="[% $fileType %]" />
				        <input type="hidden" name="[% filePerm %]" value="[% $filePerm %]" />
				      [% END %]
				      [% cnt = cnt + 1 %]
				  [% END %]
				  
				  	<!-- form submission -->
					<a name="buttons"></a>
					<p><strong>Is the information above correct?</strong></p> 
					<input id="dataCorrect" type="button" class="btn btn-primary" value="     Yes, submit    " name="dataCorrect" />
					<input type="button" class="btn dataWrongButton" value="No, go back to editing" />
					<input id="dataWrong" name="dataWrong" type="hidden" class="btn" value="TBD" />
				
				</form>
			</div>
		</div>
	</article>
	