
	<article style="font-size: .5em" id="RegistryGuide">
		<div class="container">
		
			<div class="row-fluid">
				<!--<h2>Registry Guide</h2>-->
				<p class="lead">
					Guide for Completing the Data [% config.type %] Form
				</p>
				<p>
					This guide provides information on how to complete the registration form.
					There are multiple sections to the form, and some fields are required
					(denoted by an asterisk * or in a tooltip), while others are optional.
				</p>
				<p>	
					Information on individual fields and examples for their content are provided below.
				</p>
			</div>
			
			<div class="row-fluid">
				<h4><a name="BasicInformation">Basic Information</a></h4>
				<p>
					*Data Set Title:
					A descriptive title of the data set. The title should
					provide enough information for someone casually scanning a list of data
					sets to know whether the data are relevant to them. This implies that the
					data context should be indicated in the title without making the title be
					too long. In general, the title should indicate what kind of data were
					collected and the spatial, taxonomic, and temporal extents the data set
					covers.
				</p>
				<p>
					Funding: Add the award number from the funding agency. Type in
					a keyword to look up award numbers. Multiple award numbers can be separated by commas.
				</p>
				
				<div>
					<em>Examples of descriptive titles: </em>
					<ul>
						<li>Hastings Reserve (CA) Small Mammal Trapline Data from 1972 to 1988.</li>
						<li>Tassajara Hot Springs Reserve Water Chemistry Data from 1990 to 2000.</li>
					</ul>
				</div>
				<div>
					<em>Examples of incomplete titles: </em>
					<ul>
						<li>Mammals Data</li>
						<li>Water Chemistry Data</li>
					</ul>	
				</div>
					
				[% IF cfg == 'nceas' %]
				<span class="text-info">*NCEAS Project(s):</span>
				<p>Select one or more
					NCEAS activities from the list to indicate that the data set is
					affiliated with that working group or activity.  We use "affiliation" 
					in a rather permissive sense to mean, for example, that the data set was or has
					been generated by the activity; that the owner of the data is affiliated
					with the activity; that the data set is owned by the activity; etc. Both
					derived data sets that result from synthesis activities and original raw data
					sets that contribute to synthesis can be included in the repository and should
					be associated with the appropriate NCEAS activities.
				</p>
				[% END %]

				[% IF cfg == 'esa' || cfg == 'ltss' %]  

				<span class="text-info">*Organization Name:</span>
				<p>The name of the organization with which the data set is
					affiliated. We use "affiliation" in a rather permissive sense to mean, for example, that the data set was or has
					been generated at the organization; that the owner of the data is affiliated
					with the organization or was affiliated with the organization when the data
					set was generated; that the data set is owned by the organization; etc.
				</p>
				
				<div>
					<em>Examples of correct organization names: </em>
					<ul>
						<li>University of Michigan Biological Station</li>
						<li>Duke University FACE Facility</li>
						<li>National Center for Ecological Analysis and Synthesis</li>
					</ul>
				</div>
				<div>
					<em>Examples of incorrect organization names: </em>
					<ul>
						<li>Michigan Station</li>
						<li>Duke University</li>
						<li>University of California Santa Barbara</li>
					</ul>	
				</div>				

				[% END %]

				[% IF cfg == 'obfs' || cfg == 'nrs' || cfg == 'specnet'%]

				<span class="text-info">*[% config.site | ucfirst %] Name:</span>
				<p>Select a [% config.site %] from the drop-down list to indicate that the data set is
					affiliated with the [% config.site %]. We use "affiliation" in a rather
					permissive sense to mean, for example, that the data set was or has
					been generated at the [% config.site %]; that the owner is affiliated
					with the [% config.site %] or was affiliated with the [% config.site %] when the data
					set was generated; or that the data set is owned by the [% config.site %]; etc.
				</p>
				<p><em>Note: </em>
					If the data were collected at a site other than a
					[% config.site %] listed in the drop-down menu, you can indicate so in the
					abstract and/or title. You can also indicate this in the keywords
					with a locality keyword.
				</p> 

				[% END %]

			</div>
			
			<div class="row-fluid">
				<h4><a name="DataSetOriginator">People and Organizations</a></h4> 

				<p>
					Add one or more people, organizations, or position names
					associated with the dataset. At least one entry with a Creator role is
					required, and creators will be listed in the dataset citation. The person
					responsible for developing the data set. Other roles include, for example,
					the principal investigator in a collaborative project, the first author of
					the main publication using the data set, etc. The organization name, e-mail,
					online link, phone, fax, and address information are optional.
				</p>
				<p>
					Use the Add Person or Organization button to add entries to
					the list. Use the Edit icon (pencil) to change an entry. Use the Update
					Person or Organization button to update the entry, or Add Person or
					Organization to duplicate a changed entry. If you have entered several
					associated parties and want to change the order in which they appear, use
					the up and down arrows.
				</p>

				<p>*First Name: The given name(s) of the person.</p>
				
				<p>*Last Name: The last name (surname) of the person.</p>
				
				<p>Organization Name: The name of the organization from which
				the data set originated, if any</p>
				
				<p>Position Name: A named position in an organization from which
				the data set originated, if any.</p>

				<p>E-Mail: The e-mail address by which the person or organization can be contacted.</p>
				
				<p>Phone: The phone number of the person or organization, including the area code (999-999-9999).</p>
				
				<p>FAX: The fax number of the person or organization, including the area code (999-999-9999).</p>
				
				<p>Street Information: A comma-separated list of street number, street, unit,
				etc.<br> <em>Example: </em> 735 State Street, Suite 300</p>
				
				<p>City: The city name of the person or organization's
				address.</p>
				
				<p>U.S. State or Territory: Select a U.S. state or territory
				from the drop-down menu for the principal data set owner's address. If the
				address is not in the United States, used the "Other State/Province" field
				below. For a shortcut, press the first letter of the state on your keyboard
				(e.g., M-key to skip to Maine).</p>
				
				<p>Other State/Province: A non-U.S. state or a province for the
				person or organization's address.</p>
				
				<p>Postal Code: The postal code or ZIP code for the person or organization's address.</p>
				
				<p>Country: The country for the person or organization's
				address.</p>
			
			</div>
						
			<div class="row-fluid">
				<h4><a name="DataSetAbstract">*Data Set Abstract</a></h4>
				<p>Short (maximum of 350 words) summary of the purpose and content of the data set. 
					Entering a data set abstract is required.
				</p>
				<p>
					<em>Example: </em> Data were collected every year in summer and fall from
					1967 to 1979. Trapping was conducted only in the fall from 1980 to
					1988. For each specimen taken, data were recorded on species, date,
					location, time, sex, and body measurements including total length,
					length of tail, length of hind foot, length of ear, and body mass.
					The purpose of the data was to index the population size of all
					species present over a long time period.
				</p>
				
			</div>
			
			<div class="row-fluid">
				<h4><a name="KeywordInformation">Keyword Information</a></h4>
				<p>Provide information for as many keywords as needed. The information is provided in groups of three 
					fields: keyword, keyword type, and keyword thesaurus. Repeat steps 1-4 below for each additional keyword.
				</p>
				<p>Have a look at the <a href="http://gcmd.nasa.gov/Resources/valids/gcmd_parameters.html" target="nasa">NASA Global Change Master Directory
					(GCMD)</a> (particularly under EARTH SCIENCE > Biosphere) and see if you can find keywords that appropriately describe your data set.  
					If not, use your own keywords.
				</p>
				<p><span class="text-info">1. Keyword: </span>
					Enter a word or phrase that describes your data set.</p>
				<p><span class="text-info">2. Keyword Type: </span>
					Select the keyword type (a term used to group similar keywords). The different types are ("none" is the default):

					<ul>
						<li>Theme: the keyword identifies a particular subject or topic.</li>
						<li>Place: the keyword identifies a place.</li>
						<li>Stratum: the keyword identifies the layer(s) of any deposited substance.</li>
						<li>Temporal: the keyword identifies a time period related to the data set.
						<li>Taxonomic: the keyword identifies a particular taxon.</li>
					</ul>
				</p>
				<p><span class="text-info">3. Keyword Thesaurus: </span>
					Select whether you used the NASA Global Change Master Directory (GCMD) or not to choose your keywords.
				</p>
				<p>
					<span class="text-info">4. Click</span> on the <b>"Add Keyword"</b> button to add the keyword information provided.
				</p>
				<p>To edit a keyword entry, click on the keyword entered, change the keyword, keyword type, and/or keyword 
					thesaurus, and click on the area just right of the thesaurus drop-down menu (the text field and the drop-down menus will disappear).  To delete an entry, click on the "X". 
					If you have entered several keywords and want to change the order in which they appear, use the blue up and down arrows.
				</p>
				
			</div>	

			<div class="row-fluid">
				<h4><a name="TemporalCoverageOfData">Temporal Coverage of Data</a></h4>
				<p><span class="text-info">*Start Date: </span>
					The first year, month, and
					day of the collection/creation of the data set. A start date is required. Type in the year (yyyy), and choose the month and the day from the
					drop-down menus.
				</p>
				<p><span class="text-info">Stop Date:</span>
					The last year, month, and
					day for the collection/creation of the data set. Type in the year, and choose the month and the day from the drop-down menus.
				</p>
				<p>
					<em>Note: </em> Leave "Stop Date" blank if your data set is open-ended.
				</p>
			</div>
			
			<div class="row-fluid">
				<h4><a name="SpatialCoverageOfData">Spatial Coverage of Data</a></h4> 
				<p><span class="text-info">*Geographic Description:</span>
					Enter a general description of the geographic area in which the data were collected. This can be a simple place name (e.g., Santa Barbara) or a fuller description.
					This field supplements the coordinates provided below and helps orient the data user about the general location of the study.
				</p>
				<p><span class="text-info">*Coordinates:</span>
					The latitude and longitude
					coordinates (in degrees, minutes and seconds) of the location where the data were collected. At least one lat/long pair is required. From the drop-down menus, select 
					the North (N) or South (S) orientation for the latitudes, and the West (W) or East (E) orientation for the longitudes.
				</p>
				<p>
					If you enter <b>one coordinate pair only</b>: This indicates a point location.
				</p>
				<p>If you enter <b>both coordinate pairs</b>: This indicates a
					bounding box. The first coordinate pair is the northwest corner and
					the second coordinate pair is the southeast corner of the bounding
					box.
				</p>
			</div>	

			<div class="row-fluid">
				<h4><a name="TaxonomicCoverage">Taxonomic Coverage of Data</a></h4>
				<p>
					Provide a list of the taxa that are associated with this data set. 
					This includes taxa for which the data set contains measurements, and taxa
					for which the data have relevance in less direct ways.  In general, if a
					data user searching for a particular taxonomic name should find this data set,
					then the taxon should be included in this list.
				</p>
				<p>
					Please check the <a href=
					"http://darwin.zoology.gla.ac.uk/~rpage/MyToL/www/index.php" target="darwin">Glasgow Taxonomic Name Server</a> or the <a href=
					"http://www.itis.usda.gov/" target="itis">Integrated Taxonomic Information System</a> for correct spelling 
					of taxonomic names.
				</p>
				<p>For each taxon, follow the three steps below:
					<ol>
						<li>
							<span class="text-info">Taxonomic Rank:</span> Enter the level in the taxonomic hierarchy 
							(Kingdom, Phylum, Class, Order, Family, Genus, or Species).
						</li>
						<li>
							<span class="text-info">Taxonomic Name:</span> Enter the scientific name for the level 
							entered under Taxonomic Rank (e.g., <i>Animalia</i>, <i>Chordata</i>, <i>Mammalia</i>, <i>Carnivoria</i>, <i>Ursidae</i>, <i>Ursus</i>, or <i>Ursus arctos</i>).
						</li>
						<li>
							<span class="text-info">Click</span> on the <b>"Add Taxon"</b> button to add the taxonomic information.
						</li>
					</ol>
				</p>
				<p>
					To edit an entry, click on the taxonomic information entered, change the taxonomic rank and/or name, and click on the area just right of the text field for the name (the two text 
					fields will disappear).  To delete an entry, click on the "X". If you have entered several taxa and want to change the order in which they appear, use the blue up and 
					down arrows.
				</p>
				<p>
					<span class="text-info">Taxonomic Reference:</span> The name
					or complete citation of the source(s) used for identifying and naming taxa (e.g., name of a field guide, key, or nomenclature revision). 
				</p>
			</div>
			
			<div class="row-fluid">
				<h4><a name="Methods">Data Collection Methods</a></h4> 
				<p>
					<span class="text-info">Method Title:</span> A title for the method used to generate
					the data (e.g., Measure of zooplankton abundance using radial quadrat sub-sampling).
				</p>
				<p>
					<span class="text-info">Method Description:</span> Description of the method used.  
					This is intended to be a general method description that is suitable to help potential users of the data decide if the data are appropriate for their purposes.  
					You can add multiple paragraphs to the description by clicking on the "Add Paragraph to Method Description"
					button (paragraphs added by using the ENTER key in the Method Description field will not appear as paragraphs in the submitted form).
				</p>
				<p>
					<span class="text-info">Extent of Study Description:</span>
					Describe the temporal, spatial and taxonomic extent of the study, supplementing
					the information on coverage provided above. For example, if the temporal
					coverage of the data is 1990-2000, you might provide details about any years
					that were missed or the months in which sampling actually occurred. If you
					provide information in this field (Extent of Study Description), then you must also provide
					a Method Title, a Method Description and a Sampling Description.
				</p>
				<p>
					<span class="text-info">Sampling Description:</span>
					Describe the sampling design of the study. For example, you might describe
					the way in which treatments were assigned to sampling units.  If you provide
					information in this field (Sampling Description), then you must also provide
					a a Method Title, a Method Description and an Extent of Study Description.
				</p>
			</div>
			
			<div class="row-fluid">
				<h4><a name="DataSetContactAddress">Data Set Contact</a></h4>
				<p>
					Contact information of the person to be contacted for more information on the data
					set or to obtain the data set itself. This is analogous to the Principal Data Set Owner information above. Please 
					see that section for more information on filling out the 
					individual fields. If the Data Set Contact and the Principal Data Set Owner are the same, check the box provided.
				</p>
			</div>
			
			<div class="row-fluid">
				<h4><a name="DistributionIinformation">Distribution Information</a></h4> 
				<p>
					<span class="text-info">
					<a name=Site-specificCode></a>
					Data Set Identifier:</span> If available, please enter a name or number that uniquely identifies and describes concisely the data set. 
					Alternatively, provide other pertinent information that can identify and locate the data set within your site's data management system. 

[% IF cfg == 'obfs' || cfg == 'nrs' || cfg == 'specnet'%]
Keep in mind that this information, although not required, can be extremely useful
for locating the data set at a [% config.site %].
[%END%]
				</p>
				<p>
					<span class="text-info">*Data Medium:</span>
					Specify whether the data medium is 
					digital (e.g., computer file) or hardcopy (e.g., paper), or specify any other type of data medium the data are recorded on (e.g., video tape).
				</p>
				<p>
					*Usage Rights:
					[% IF cfg == 'metacatui' &&  config.abbrev == 'ARCTIC' %]
						Choose either the:
						<ul>
							<li>
								<a href="https://creativecommons.org/publicdomain/zero/1.0/">
									Creative Commons Public Domain Dedication (CC-0)
								</a>
							</li>
							<li>
								<a href="https://creativecommons.org/licenses/by/4.0/">
									Creative Commons Attribution License(CC-BY)
								</a>	
							</li>
						</ul>
						Choosing CC-0, you waive your interest in your work and place the
						work as completely as possible in the public domain so others may freely
						use the work without restriction under copyright or database law.
						Attribution for your work is still expected according to norms in your
						research field. Choosing CC-BY licenses your work, and you let others
						copy, distribute, display, and perform your copyrighted work, and
						derivative works based upon it, but only if they give you appropriate
						credit. For more information on choosing, see the
						<a href="https://blog.datadryad.org/2011/10/05/why-does-dryad-use-cc0/">Dryad discussion</a> 
						and the 
						<a href="http://www.bitlaw.com/copyright/unprotected.html">Bitlaw commentary</a>.
					[% ELSE %]
						Specify the usage rights that apply to the data set (e.g., no restrictions, 
						obtain permission from data set owner(s), cite the data set in publications, etc.). 
					[% END %]
				</p>
				<p>
					<span class="text-info">URL:</span> If available, provide a link for the
					location of more metadata or the data set itself (this URL should be as permanent as possible).
				</p>
				<p>
					<a name="AdditionalInformation"></a>
					<span class="text-info">Additional Information:</span> 
					Add any additional information here that you deem relevant to the data set, which has not been covered in the form.  For example, if the data set is in the form 
					of a computer file, you could specify the file format here (e.g., Excel, Access, FoxPro, DBase, etc.).
				</p>	

			</div>
			
			<div class="row-fluid">
				<h4><a name="UploadData">Data File Upload</a></h4> 
				<p>
					Select files from your computer to include in the data package submission. Text-based data files (e.g., CSV) are preferred, but there is no restriction on the file type.
					Multiple files can be included in the package.
				</p>
				<p>
					Ideally, data files will be made publicly accessible on submission, but we recognize there are some cases where access to the data should be restricted until a later date.
					Select the appropriate permission level for each file as it is attached to the package. Files can be 'unattached' using the delete button.
				</p>

			</div>

		</div>
	</article>
