	<article id="RegistryResponse">
		<div class="container">
		
			<div class="row-fluid">

	[% IF status == 'success' %]
        
     	<h2>Success</h2>
	    <p class="lead">Your data set description has been [% function  %].  Thank you.</p>
		[% IF function == 'deleted' %]
			<!-- no pointer to deleted content -->
        [%ELSE%]
            <p>View the <a href="#view/[% docid %]"> data set description</a>.</p>
        [%END%]
    [% ELSE %]
    	[%  IF function == 'cancel' %]

	 	[% ELSE %]
			<h2>Whoops!</h2>
			<p class="lead">An error occurred. Please check the list of errors below: </p>
			<ul>
				[% FOREACH parameter = invalidParams %]
					<li>[% parameter %]</li>
				[% END %]
			</ul>
			<ul>
				[% FOREACH msg = errorMessages %]
					<li>[% msg %]</li>
				[% END %]
			</ul>
		[% END %]
    [% END %]
    
    [% IF status == 'login_failure' %]
		<p>Click <a href = "javascript:history.back()">here</a> to return 
        to the previous page, and enter the correct username, organization, and password.</p>
    [% ELSE %]
        [% IF function == 'deleted' || function == 'cancel' %]
            [% IF status != 'success' %]   
	            <p>Click <a href = "javascript:history.back()">here</a> to return
	            to the previous page, and enter the correct username, organization, and password.</p> 
            [%ELSE%]
                <p>Or, <a href="#share">register a new data set</a>.
				Otherwise, use the toolbar links above to navigate.</p>
            [%END%]
        [% ELSE %]
			[% IF status == 'success' %]
				<p>Or, <a id="registerAnotherPackage" href="#share" >register a new data set</a>.
				Otherwise, use the toolbar links above to navigate.</p>
            [% ELSE %]
                [% IF status != 'failure_no_resubmit' %]
                    <form id="editForm" name="editForm" action="[% cgiPrefix %]/register-dataset.cgi" method="post">
                        <input type="hidden" name="cfg" value="[% cfg %]">
                        <input type="hidden" name="docid" value="[% docid %]">
                        <input type="hidden" name="stage" value="confirmed">
                        <input type="hidden" name="dataWrong" value="No, go back to editing">
                        <input type="hidden" name="providerGivenName" value="[%providerGivenName%]">
                        <input type="hidden" name="providerSurName" value="[%providerSurName%]">
                        <input type="hidden" name="site" value="[%site%]">
                        [% IF cfg == 'nceas' %]
                            [% FOREACH group = wg %]
                                <input type="hidden" name="wg" value="[%group%]">
                            [% END %]
                        [% END %]
                        <input type="hidden" name="funding" value="[%funding%]">
                        
                        [% cnt = 1 %]
						[% WHILE cnt <= numIdentifier %]
							[% SET id = "identifierValue${cnt}" %]
							<input type="hidden" name="[% id %]" value="[% $id %]" />
							<input type="hidden" name="identifier" value="[% $id %]" />
							[% cnt = cnt + 1 %]
						[% END %]  
						<input type="hidden" name="identifierCount" value="[% identifierCount %]" />
                        
                        <input type="hidden" name="title" value="[%title%]">
                        <input type="hidden" name="useOrigAddress" value="[%useOrigAddress%]">
						
						<input type="hidden" name="partyCount" value="[% partyCount %]" />
						[% cnt = 0 %]
						[% WHILE cnt <= partyCount %]
							[% SET partyId         = "partyId${cnt}" %]
							[% SET partyFirstName  = "partyFirstName${cnt}" %]
							[% SET partyLastName   = "partyLastName${cnt}" %]
							[% SET partyRole       = "partyRole${cnt}" %]
							[% SET partyOrgName    = "partyOrgName${cnt}" %]
							[% SET partyPositionName = "partyPositionName${cnt}" %]
							[% SET partyEmail      = "partyEmail${cnt}" %]
							[% SET partyURL        = "partyURL${cnt}" %]
							[% SET partyPhone      = "partyPhone${cnt}" %]
							[% SET partyFAX        = "partyFAX${cnt}" %]
							[% SET partyDelivery   = "partyDelivery${cnt}" %]
							[% SET partyCity       = "partyCity${cnt}" %]
							[% SET partyState      = "partyState${cnt}" %]
							[% SET partyStateOther = "partyStateOther${cnt}" %] 
							[% SET partyZIP        = "partyZIP${cnt}" %]
							[% SET partyCountry    = "partyCountry${cnt}" %]
							
							<input type="hidden" name="[% partyId         %]" value="[% $partyId         %]" /> 	
							<input type="hidden" name="[% partyFirstName  %]" value="[% $partyFirstName  %]" /> 	
							<input type="hidden" name="[% partyLastName  	%]" value="[% $partyLastName   %]" />	
							<input type="hidden" name="[% partyRole     	%]" value="[% $partyRole       %]" />	
							<input type="hidden" name="[% partyOrgName   	%]" value="[% $partyOrgName    %]" />	
							<input type="hidden" name="[% partyPositionName %]" value="[% $partyPositionName %]" />	
							<input type="hidden" name="[% partyEmail     	%]" value="[% $partyEmail      %]" />	
							<input type="hidden" name="[% partyURL      	%]" value="[% $partyURL      %]" />	
							<input type="hidden" name="[% partyPhone     	%]" value="[% $partyPhone      %]" />	
							<input type="hidden" name="[% partyFAX       	%]" value="[% $partyFAX        %]" />	
							<input type="hidden" name="[% partyDelivery  	%]" value="[% $partyDelivery   %]" />	
							<input type="hidden" name="[% partyCity      	%]" value="[% $partyCity       %]" />	
							<input type="hidden" name="[% partyState     	%]" value="[% $partyState      %]" />	
							<input type="hidden" name="[% partyStateOther	%]" value="[% $partyStateOther %]" />	
							<input type="hidden" name="[% partyZIP       	%]" value="[% $partyZIP        %]" />	
							<input type="hidden" name="[% partyCountry   	%]" value="[% $partyCountry    %]" />			
						
							<input type="hidden" name="partyFirstName" value="[% $partyFirstName %]" /> 	
							<input type="hidden" name="partyLastName" value="[% $partyLastName %]" />	
							<input type="hidden" name="partyRole" value="[% $partyRole %]" />	
							<input type="hidden" name="partyOrgName" value="[% $partyOrgName %]" />	
							<input type="hidden" name="partyPositionName" value="[% $partyPositionName %]" />	
							<input type="hidden" name="partyEmail" value="[% $partyEmail %]" />	
							<input type="hidden" name="partyURL" value="[% $partyURL %]" />	
							<input type="hidden" name="partyPhone" value="[% $partyPhone %]" />	
							<input type="hidden" name="partyFAX" value="[% $partyFAX %]" />	
							<input type="hidden" name="partyDelivery" value="[% $partyDelivery %]" />	
							<input type="hidden" name="partyCity" value="[% $partyCity %]" />	
							<input type="hidden" name="partyState" value="[% $partyState %]" />	
							<input type="hidden" name="partyStateOther" value="[% $partyStateOther %]" />	
							<input type="hidden" name="partyZIP" value="[% $partyZIP %]" />	
							<input type="hidden" name="partyCountry" value="[% $partyCountry %]" />			
						
							[% cnt = cnt + 1 %]
						[% END %]
                        
                        <input type="hidden" name="abstract" value="[%abstract%]">
                        <input type="hidden" name="keyCount" value="[%keyCount%]">
                        [% numKey = 0 %]
                        [% IF keyCount > 0 %]
                            [% numKey = keyCount %]
                        [% END %]
                        [% cnt = 1 %]
                        [% WHILE cnt <= numKey %]
                            [% SET kyd = "keyword${cnt}" %]
                            [% SET keyType = "kwType${cnt}" %]
                            [% SET keyTh = "kwTh${cnt}" %]
                            <input type="hidden" name="[% kyd %]" value="[% $kyd %]">
                            <input type="hidden" name="[% keyType %]" value="[% $keyType %]">
                            <input type="hidden" name="[% keyTh %]" value="[% $keyTh %]">
                            [% cnt = cnt + 1 %]
                        [% END %]
                        <input type="hidden" name="addComments" value="[%addComments%]">
                        <input type="hidden" name="useConstraints" value="[%useConstraints%]">
                        <input type="hidden" name="useConstraintsOther" value="[%useConstraintsOther%]">
                        <input type="hidden" name="url" value="[%url%]">
                        <input type="hidden" name="dataMedium" value="[%dataMedium%]">
                        <input type="hidden" name="dataMediumOther" value="[%dataMediumOther%]">
                        <input type="hidden" name="beginningYear" value="[%beginningYear%]">
                        <input type="hidden" name="beginningMonth" value="[%beginningMonth%]">
                        <input type="hidden" name="beginningDay" value="[%beginningDay%]">
                        <input type="hidden" name="endingYear" value="[%endingYear%]">
                        <input type="hidden" name="endingMonth" value="[%endingMonth%]">
                        <input type="hidden" name="endingDay" value="[%endingDay%]">
                        <input type="hidden" name="geogdesc" value="[%geogdesc%]">
                        <input type="hidden" name="useSiteCoord" value="[%useSiteCoord%]">
                        <input type="hidden" name="latDeg1" value="[% latDeg1 %]">
                        <input type="hidden" name="latMin1" value="[%latMin1%]">
                        <input type="hidden" name="latSec1" value="[%latSec1%]">
                        <input type="hidden" name="hemisphLat1" value="[%hemisphLat1%]">	
                        <input type="hidden" name="longDeg1" value="[% longDeg1 %]">
                        <input type="hidden" name="longMin1" value="[%longMin1%]">
                        <input type="hidden" name="longSec1" value="[%longSec1%]">
                        <input type="hidden" name="hemisphLong1" value="[%hemisphLong1%]">
                        <input type="hidden" name="latDeg2" value="[%latDeg2%]">
                        <input type="hidden" name="latMin2" value="[%latMin2%]">
                        <input type="hidden" name="latSec2" value="[%latSec2%]">
                        <input type="hidden" name="hemisphLat2" value="[%hemisphLat2%]">	
                        <input type="hidden" name="longDeg2" value="[%longDeg2%]">
                        <input type="hidden" name="longMin2" value="[%longMin2%]">
                        <input type="hidden" name="longSec2" value="[%longSec2%]">
                        <input type="hidden" name="hemisphLong2" value="[%hemisphLong2%]">
                        <input type="hidden" name="taxaCount" value="[%taxaCount%]">
                        [% numTaxa = 0 %]
                        [% IF taxaCount > 0 %]
                            [% numTaxa = taxaCount %]
                        [% END %]
                        [% cnt = 1 %]
                        [% WHILE cnt <= numTaxa %]
                            [% SET trn = "taxonRankName${cnt}" %]
                            [% SET trv = "taxonRankValue${cnt}" %]
                            <input type="hidden" name="[% trn %]" value="[% $trn %]">
                            <input type="hidden" name="[% trv %]" value="[% $trv %]">
                            [% cnt = cnt + 1 %]
                        [% END %]
                        <input type="hidden" name="taxaAuth" value="[%taxaAuth%]">
                      
                        <input type="hidden" name="methodTitle" value="[%methodTitle%]">
                        [% FOREACH para = methodPara %]
                            <input type="hidden" name="methodPara" value="[%para%]">
                        [% END %]
                        <input type="hidden" name="studyExtentDescription" value="[%studyExtentDescription%]">
                        <input type="hidden" name="samplingDescription" value="[%samplingDescription%]">
                        <input type="hidden" name="fileCount" value="[%fileCount%]">
                        <input type="hidden" name="upCount" value="[%upCount%]">
                        [% fCount = 0 %]
                        [% IF upCount > 0 %]
                            [% fCount = upCount %]
                        [% END %]

                        [% cnt = 0 %]
                        [% WHILE cnt < fCount %]
                            [% SET fileSum = "upload_${cnt}" %]
                            [% SET fileName = "uploadname_${cnt}" %]
                            [% SET fileType = "uploadtype_${cnt}" %]
                            [% SET filePerm = "uploadperm_${cnt}" %]

                            [% IF fileSum %]

                                <input type="hidden" name="[% fileSum %]" value="[% $fileSum %]">
                                <input type="hidden" name="[% fileName %]" value="[% $fileName %]">
                                <input type="hidden" name="[% fileType %]" value="[% $fileType %]">
                                <input type="hidden" name="[% filePerm %]" value="[% $filePerm %]">
                            [% END %]
                            [% cnt = cnt + 1 %]
                        [% END %]
                        
                    	<span class="help-block">
                            Click the button below to return to the form and fill in the required fields.
                            <em>Do NOT use the back button on your browser.</em>
                            Submit the description again when you are finished.
                        </span>
                    	<input id="entryReturnSubmit" type="button" class="btn" value="Return to Form"/>
                    	
                    </form>
                [% END %]
            [% END %]
        [% END %]
    [% END %]
    
    			</div>
    
    		</div>
	</article>
	
