## override values.yaml with values to use for running tests on the NCEAS dev cluster
##
## example:
##    helm install my-release ./helm -f ./helm/values-dev-cluster.yaml
##
## see values.yaml for full documentation on the following parameters
##

global:
  storageClass: &storageClassName csi-cephfs-sc
  ephemeralVolumeStorageClass: csi-cephfs-sc-ephemeral

metacat:
  server.name: &extHostname metacat-dev.test.dataone.org
  auth.administrators: http://orcid.org/0000-0002-1472-913X;http://orcid.org/0000-0002-1209-5268
  cn.server.publiccert.filename: /var/metacat/pubcerts/DataONETestIntCA.pem

  ## DataONE Member Node (MN) Parameters
  dataone.certificate.fromHttpHeader.enabled: true
  dataone.autoRegisterMemberNode: 2024-01-25
  D1Client.CN_URL: https://cn-sandbox.test.dataone.org/cn
  dataone.nodeId: "urn:node:TestBROOKELT"
  dataone.subject: "CN=urn:node:TestBROOKELT,DC=dataone,DC=org"
  dataone.nodeName: Test BROOKE LT Metacat Node
  dataone.nodeDescription: Dev cluster Test BROOKE LT Metacat Node
  dataone.contactSubject: http://orcid.org/0000-0002-1472-913X
  dataone.nodeSynchronize: true
  dataone.nodeReplicate: true
  dataone.replicationpolicy.default.numreplicas: "1"


persistence:
  storageClass: *storageClassName
  size: 100Gi
  accessModes:
    - ReadWriteMany
  volumeName: cephfs-metacatbrooke-metacat

image:
  # tag: TEST
  debug: true
  pullPolicy: Always

ingress:
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
  className: "nginx"
  tls:
    - hosts:
        - *extHostname
      secretName: ingress-nginx-tls-cert
  hosts:
    - host: *extHostname
      paths:
        - path: "/metacat"
          pathType: Prefix
        - path: "/metacatui"
          pathType: Prefix

dataone-indexer:
  # increase minReplicas from default 3
  autoscaling:
    minReplicas: 10

  # prefer more-performant nodes for indexer workers
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: nceas/nodegroup
                operator: In
                values:
                  - fast

  image:
    pullPolicy: Always
    debug: true

####################################################################################################
## FOR DEBUGGING ONLY
####################################################################################################
##
## probes will kill remote debugger

#livenessProbe:
#  enabled: false
#readinessProbe:
#  enabled: false
#
#service:
#  enabled: true
#  type: LoadBalancer
#  clusterIP: ""
#  ports:
#    - name: debug-port
#      port: 5005
#      targetPort: tc-remote-debug
#
#container:
#  ports:
#    - containerPort: 5005
#      name: tc-remote-debug
